<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
	<title>Project NZT</title>
	<script src="https://use.typekit.net/naw4zhx.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
	<nav id="bt-menu" class="bt-menu">
					<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
					<ul>
						<li><a href="#" class="learn">Learn More</a></li>
						<li><a href="#" class="settings">Settings</a></li>
						<li><a href="#" class="login">Login</a></li>
						<li><a href="#" class="about">About</a></li>
					</ul>
		</nav>
			<script src="./js/classie.js"></script>
			<script src="./js/borderMenu.js"></script>
	{{{body}}}
</body>

</html>
