<div>
  <form method="POST" class="form-horizontal">
        <div class="login">Login</div>
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group" id="homeButtons">
          <button class="button-cool">Login</button>
          <div class="twoButtons">
            <a class="button-register" href="/register">Register</a>
            <a class="button-facebook" href="/login/facebook">Login with Facebook</a>
        </div>
      </div>
    </form>
</div>
