<!-- FIREWORKS ANIMATION -->
<!-- <canvas id="c" className="fireworks"></canvas> -->


	<nav id="bt-menu" class="bt-menu">
			<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Leaderboard</a></li>
				<li><a href="#">Stats</a></li>
				<li><a href="#">The Science</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<ul>
				<li><a href="#"><i class="fa fa-cog" style="font-size:55px; padding-top:10px" aria-hidden="true"></i></a></li>
			</ul>
	</nav>
	<script src="./js/classie.js"></script>
	<script src="./js/borderMenu.js"></script>