/*contact page*/
.contactPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  transition-duration: .8s;
}

.contactPage h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 6vh;
}

.contactPage p {
  font-weight: 100;
  font-size: calc(14px + .5vw);
  font-family: "Proxima-Nova", sans-serif;
  color: white;
  margin-bottom: 25px;
}

.contactTop, .contactBottom {
  width: 100vw;
  transition-duration: .8s;
  text-align: center;
  transition-duration: .8s;
}

.contactTop {
  height: 60vh;
  display: flex;
  background-color: #008a7e;
  flex-direction: column;
  align-items: center;
}

.contactTop p {
 width: 75vw;
}

.contactTopHeading {
  height: 40%;
  margin-bottom: 10px;
}

.profiles {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100vw;
}

.aboutProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  margin: 0 auto;
}

.aboutProfile h2 {
  color: white;
  font-size: 28px;
}

.aboutProfile img {
  border-radius: 50%;
  width: 75%;
  max-width: 175px;
}

.aboutProfile p {
  width: 100%;
}

.socialMedia {
}

.socialMedia a {
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  transition-duration: .5s;
}

.socialMedia a:hover {
  opacity: 0.7;
  transition-duration: .5s;
}

.contactBottom {
  height: 40vh;
  background-color: #7CD9D2;
  padding: 0vw 5vw 0vw 10vw;
}
/*.contactTop:hover, .contactBottom:hover{
  height: 60vh;
  transition-duration: 1s;
}*/
.contactBottom a {
  text-decoration: none;
  color: #7CD9D2;
  background-color: white;
  font-weight: bold;
  transition-duration: .5s;
  width: 25vw;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid white;
}

.contactBottom a:hover {
  background-color: transparent;
  color: white;
  transition-duration: .8s;
}
