.overlay {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(69, 69, 69, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  min-height: 75vh;
}

.overlayContent p {
  text-align: center;
  margin: 5vh 0;
  font-size: 20px;
}

.overlayContent a {
  text-decoration: none;
  text-align: center;
}

.gameStartBtn {
  margin: 5vh 0;
  padding: 20px;
  font-size: 32px;
  cursor: pointer;
  transition-duration: .5s;
}

.silentStartBtn {
  border: 1px solid #7CD9D2;
  color: #7CD9D2;
}

.silentStartBtn:hover {
  background-color: #7CD9D2;
  transition-duration: .5s;
  color: white;
}

.classicStartBtn {
  border: 1px solid #F13542;
  color: #F13542;
}

.classicStartBtn:hover {
  background-color: #F13542;
  transition-duration: .5s;
  color: white;
}

.relaxedStartBtn {
  border: 1px solid #01B6A7;
  color: #01B6A7;
}

.relaxedStartBtn:hover {
  background-color: #01B6A7;
  transition-duration: .5s;
  color: white;
}

.advancedStartBtn {
  border: 1px solid #F1BA03;
  color: #F1BA03;
}

.advancedStartBtn:hover {
  background-color: #F1BA03;
  transition-duration: .5s;
  color: white;
}