/* Game over screen */

.gameOver {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #7CD9D2;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.gameOver a {
  color: white;
  text-decoration: none;
  transition-duration: .5s;
}

.gameOver a:hover {
  color: #F13542;
  transition-duration: .5s;
}

.gameOver h1 {
  font-size: 96px;
}

.gameOver h2 {
  font-size: 32px;
}

.gameOver p {
  font-size: 32px;
}

.gameOverHeader {
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}

.gameOverHeader h1 {
  font-size: calc(28px + 5vw);
}

.gameOverHeader h2 {
  font-size: calc(24px + 3vw);
}

.scoreTable {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100vw;
}

.scoreTable table {
  width: 500px;
  line-height: 1.5;
}

.scoreTable td {
  font-size: 32px;
  text-align: left;
}

.scoreValue {
  text-align: right !important;
}

.totalScore td {
  border-top: 2px solid white;
  color: #F13542;
  font-weight: bold;
}

.gameOverPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #F13542;
  width: 75vw;
  height: 20vh;
  padding: 10px;
}

.gameOverPrompt a {
  font-weight: bold;
  color: #F1BA03;
  transition-duration: .5s;
}

.gameOverPrompt a:hover {
  color: white;
  transition-duration: .5s;
}


.gameOverActions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 20vh;
  align-items: flex-end;
  margin-bottom: 20px;
}

.levelButton {
  background-color: transparent;
  color: white;
  padding: 15px 25px;
  border: 1px solid white;
  transition-duration: .5s;
  cursor: pointer;
}

.levelButton:hover {
  background-color: #F13542;
  color: white;
  border-color: #F13542;
  transition-duration: .5s;
}

.lbChart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;
}