/* game page css */

.fullGameView {
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.gameContainer {
  height: 90vh;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.gameBoard {
  display: flex;
  width: 54vh;
  height: 60vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gameSquare {
  background-color: #BFBFBF;
  width: 31%;
  height: 31%;
  margin: .5vh;
  border: 3px solid rgba(109, 110, 113, 0.5);
}
.gameFullHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
}
.gameFullFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
}
.gameHomeBtn:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}
.gameButtonsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gameButtonsContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
}
.gameButtonsContainer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 20vh;
  text-align: center;
  color: rgba(255, 255, 255, .85);
  font-size: 3vh;
  font-weight: bold;
  cursor: default;
  padding: 2vh;
}
.advancedBtnContainer a {
  width: auto;
}
.silentButton {
  background-color: #7CD9D2;
}
.silentButton:active {
  background-color: #52BDB5;
}
.relaxedButton {
  background-color: #01B6A7;
}
.relaxedButton:active {
  background-color: #008C82;
}
.classicButton {
  background-color: #F13542;
}
.classicButton:active {
  background-color: #D80D1B;
}
.advancedButton {
  width: auto;
  background-color: #F1BA03;
}
.advancedButton:active {
  background-color: #BE9300;
}
.gameButtonsContainer a:hover {
  cursor: pointer;
}
.timerContainer {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.gameTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}
.modeTitle {
  padding: 0 10px;
  font-size: 50px;
}
.nTitle {
  font-size: 24px !important;
  font-weight: normal !important;
}
.gameHeading {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-bottom: 10px;
}
.gameContainer h2 {
  font-size: 40px;
  font-weight: normal;
}
.gameTimer {
  font-size: 64px;
}
.gameScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 64px;
  width: 70%;
}
.gameScore h2 {
  width: 50%;
}

/*button alerts*/

.goodJob {
  background-color: green;
  -webkit-animation-name: positiveFadeOut;
  -webkit-animation-duration: .2s;
  animation-name: positiveFadeOut;
  animation-duration: .2s;
}
.youFailed {
  background-color: red;
  -webkit-animation-name: negativeFadeOut;
  -webkit-animation-duration: .2s;
  animation-name: negativeFadeOut;
  animation-duration: .2s;
}

/* negative alert fade */

@keyframes negativeFadeOut {
  from {
    background-color: rgba(255, 51, 51, 0.8);
    color: white;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}
@-webkit-keyframes negativeFadeOut {
  from {
    background-color: rgba(255, 51, 51, 0.8);
    color: white;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}

/* positive alert fade */

@keyframes positiveFadeOut {
  from {
    background-color: rgba(0, 204, 153, 0.8);
    color: white;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}
@-webkit-keyframes positiveFadeOut {
  from {
    background-color: rgba(0, 204, 153, 0.8);
    color: white;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}

/* score alert updates */

.scoreUpdatePos {
  color: #01B6A7;
}
.scoreUpdateNeg {
  color: #F13542;
}
.scoreUpdateHalf {
  color: yellow;
}
.scoreUpdate {
  font-weight: bold !important;
  -webkit-animation-name: scoreUpdateIn;
  -webkit-animation-duration: 2s;
  animation-name: scoreUpdateIn;
  animation-duration: 2s;
}
@keyframes scoreUpdateIn {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  25% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1.5, 1.5, 1);
    opacity: 0;
  }
}
@-webkit-keyframes scoreUpdateIn {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  25% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1.5, 1.5, 1);
    opacity: 0;
  }
}
@media all and (max-width: 768px) {
  .fullGameView {
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    background: url("../images/pattern.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .gameContainer {
    height: 90vh;
    width: 100vw;
    margin-top: 5vh;
    background-color: transparent;
    justify-content: space-around;
    ;
  }
  .gameFullHeader {
    height: 15vh;
    justify-content: center;
  }
  .gameBoard {
    width: 90vw;
    height: 90vw;
  }
  .gameContainer h2 {
    font-size: 5vh;
  }
  .gameButtonsContainer {
    width: 100vw;
    height: 100%;
    margin-bottom: 0;
    justify-content: space-around;
  }
  .gameButtonsContainer a {
    height: 60%;
    width: 30vw;
    margin: 0;
    font-size: 2vh;
  }
  .gameScore h2 {
    width: auto;
  }
  .gameScore {
    width: 70%;
  }
  .timerContainer {
    width: 30%;
  }
}
