/* game page css */

.fullGameView {
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.gameContainer {
  height: 90vh;
  width: 640px;
  /*  min-width: 640px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.gameBoard {
  display: flex;
  width: 54vh;
  height: 60vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gameSquare {
  background-color: #BFBFBF;
  width: 31%;
  height: 31%;
  margin: .5vh;
  border: 2px solid rgba(109, 110, 113, 0.5);
}
.gameFullHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
}
.gameFullFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
}

.gameHomeBtn:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}

.gameButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vh;
  height: 40%;
  margin-bottom: 1vh;
}
.gameButtonsContainer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px;
  height: 80%;
  width: 20vh;
  text-align: center;
  color: rgba(255, 255, 255, .85);
  font-size: 3vh;
  font-weight: bold;
  cursor: default;
  border: 2px solid rgba(0, 0, 0, .15);
  transition-duration: .3s;
}
.silentButton {
  background-color: #7CD9D2;
  transition-duration: .3s;
}
.silentButton:active {
  background-color: #52BDB5;
  transition-duration: .3s;
}
.relaxedButton {
  background-color: #01B6A7;
  transition-duration: .3s;
}
.relaxedButton:active {
  background-color: #008C82;
  transition-duration: .3s;
}
.classicButton {
  background-color: #F13542;
}
.classicButton:active {
  background-color: #D80D1B;
}
.advancedButton {
  background-color: #F1BA03;
}
.advancedButton:active {
  background-color: #BE9300;
}
.gameButtonsContainer a:hover {
  cursor: pointer;
}
.timerContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  width: 50%;
}
.gameTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}
.modeTitle {
  padding: 0 10px;
  font-size: 50px;
}
.nTitle {
  font-size: 24px !important;
  font-weight: normal !important;
}
.gameHeading {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-bottom: 10px;
}
.gameContainer h2 {
  font-size: 40px;
  font-weight: normal;
}
.gameTimer {
  font-size: 64px;
}
.gameScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 64px;
  width: 50%;
}
.scoreAlert {
  width: 95%;
  height: 40%;
}
.scoreAlertNegative {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  color: transparent;
  font-size: 28px;
  margin: 10px auto;
  height: 80%;
  width: 50%;
  padding: 5px;
  text-align: center;
  -webkit-animation-name: negativeFadeOut;
  -webkit-animation-duration: 5s;
  animation-name: negativeFadeOut;
  animation-duration: 5s;
}
.scoreAlertPositive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  color: transparent;
  font-size: 28px;
  margin: 10px auto;
  height: 80%;
  width: 50%;
  padding: 5px;
  text-align: center;
  -webkit-animation-name: positiveFadeOut;
  -webkit-animation-duration: 5s;
  animation-name: positiveFadeOut;
  animation-duration: 5s;
}

/* negative alert fade in and out */

@keyframes negativeFadeIn {
  from {
    background-color: transparent;
    color: transparent;
  }
  to {
    background-color: rgba(255, 51, 51, 0.8);
    color: white;
  }
}
@keyframes negativeFadeOut {
  from {
    background-color: rgba(255, 51, 51, 0.8);
    color: white;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}
@-webkit-keyframes negativeFadeIn {
  from {
    background-color: transparent;
    color: transparent;
  }
  to {
    background-color: rgba(255, 51, 51, 0.8);
    color: white;
  }
}
@-webkit-keyframes negativeFadeOut {
  from {
    background-color: rgba(255, 51, 51, 0.8);
    color: white;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}

/* positive alert fade in and out */

@keyframes positiveFadeIn {
  from {
    background-color: transparent;
    color: transparent;
  }
  to {
    background-color: rgba(0, 204, 153, 0.8);
    color: white
  }
}
@keyframes positiveFadeOut {
  from {
    background-color: rgba(0, 204, 153, 0.8);
    color: white;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}
@-webkit-keyframes positiveFadeIn {
  from {
    background-color: transparent;
    color: transparent;
  }
  to {
    background-color: rgba(0, 204, 153, 0.8);
    color: white
  }
}
@-webkit-keyframes positiveFadeOut {
  from {
    background-color: rgba(0, 204, 153, 0.8);
    color: white;
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}

@media (max-width: 768px) {
  .fullGameView {
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
  }
  .gameContainer{
    height: 100vh;
    width: 100vw;
    margin-top: 0;
  }

  .gameFullHeader {
    justify-content: flex-end;
  }

  .gameBoard {
    width: 82vw;
    height: 100vw;
  }

  .gameButtonsContainer {
    width: 100vw;
    height: 50%;
    margin-bottom: 0;
    justify-content: space-around;
  }

  .gameButtonsContainer a {
    height: 90%;
    width: 35vw;
  }

  .scoreAlertPositive {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

  .scoreAlertNegative {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
}
