.overlay {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 5vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
}

.overlayContent p {
  text-align: center;
  margin: 2.5vh 0 2.5vh 0;
  font-size: 24px;
  line-height: 1.5;
  color: #c6c6c6;
}

.overlayHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.keyInstructions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.overlayKeysContainer {
  display: flex;
  align-items: center;
  height: 40%;
}

.overlayKeysContainer .key-wrapper {
  text-align: left;
  width: 50%;
}

.overlayKeysContainer p {
  text-align: center;
  width: 50%;
  font-size: 18px;
  line-height: 1.25;
}

.overlayGif {
  max-height: 300px;
}

.nLevelAlert {
  display: flex;
  flex-direction: row;
  border: 2px solid #c6c6c6;
  height: 20%;
}

.nLevelNum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #c6c6c6;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1;
}

.nLevelNum h1 {
  font-size: 14vh;
}

.nLevelNum h3 {
  font-size: 28px;
  font-weight: 300;
}

.nLevelText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  padding: 10px;
}

.nLevelText p {
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  color: #c6c6c6;
}

.overlayContent a {
  text-decoration: none;
  text-align: center;
}

.overlayContent .key-wrapper {
  margin-top: 0px;
}

.overlayContent .key {
  font-size: 24px;
  line-height: 64px;
}

.overlayFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}

.overlayFooter a {
  margin-top: 15px;
}

.gameStartBtn {
  padding: 20px 30px;
  font-size: 32px;
  cursor: pointer;
  transition-duration: .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: -webkit-box;
  -webkit-justify-content: space-between;
  display: -ms-flexbox;
}

.tutorialBtn {
  font-weight: 500;
  transition-duration: .5s;
}

.tutorialBtn:hover {
  color: #c6c6c6;
  transition-duration: .5s;
}

.classicStartBtn {
  background-color: #F13542;
  transition-duration: .5s;
  color: white;
}

.classicStartBtn:hover {
  background-color: rgba(241, 53, 66, 0.6);
}

.relaxedStartBtn {
  background-color: #7CD9D2;
  transition-duration: .5s;
  color: white;
}

.relaxedStartBtn:hover {
  background-color: rgba(124, 217, 210, 0.6);
}

.silentStartBtn {
  background-color: #01B6A7;
  transition-duration: .5s;
  color: white;
}

.silentStartBtn:hover {
  background-color: rgba(1, 182, 167, 0.6);
}

.advancedStartBtn {
  background-color: #F1BA03;
  transition-duration: .5s;
  color: white;
}

.advancedStartBtn:hover {
  background-color: rgba(241, 186, 3, 0.6);
}

.keyGS {
  width: 75px;
  min-width: 50px;
  height: auto;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 22px;
  border-radius: 5px;
  display: inline-block;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.keyClassic {
  border: 2px solid #F13542;
  color: #F13542;
}

.keySilent {
  border: 2px solid #01B6A7;
  color: #01B6A7;
}

.keyRelaxed {
  border: 2px solid #7CD9D2;
  color: #7CD9D2;
}

.keyAdvanced {
  border: 2px solid #F1BA03;
  color: #F1BA03;
}

.keyBlank {
  visibility: hidden;
}

@media (max-width: 1300px) {
  .overlayContent {
    width: 75vw;
  }
}

@media all and (max-width: 960px) {
  .overlay {
    padding: 0;
    justify-content: center;
  }

  .overlayContent {
    width: 95vw;
  }

  .nLevelNum h1 {
    font-size: 12vh;
  }

  .nLevelNum h3 {
    font-size: 2.5vh;
  }

  .nLevelAlert {
    width: 100%;
  }

  .overlayContent .key {
    width: auto;
  }
}

@media all and (max-height: 768px) {
  .overlayContent p {
    font-size: 18px;
    line-height: 1;
  }

  .overlayContent .key {
    line-height: 45px;
  }

  .overlayKeysContainer p {
    width: 40%;
  }

  .overlayKeysContainer .key-wrapper {
    width: 60%;
  }

  .tutorialBtn {
    padding: 3px;
  }
}

@media all and (max-height: 480px) {
  
  .overlayKeysContainer {
    display: none;
  }
}