/*leaderboard*/

table {
  width: 100%;
  table-layout: fixed;
}
.leaderboardPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.boardSide {
  height: 100vh;
  width: 100vw;
  /*background-color: #F1BA03;*/
  color: #01b6a7;
  padding-top: 10vh;
}
.lbHeader {
  color: #01b6a7;
  font-size: 60px;
  text-align: center;
}
.reactable-filter-input {
  border-bottom: 1px solid #01b6a7;
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: white;
  background-color: #01b6a7;
  text-transform: uppercase;
  font-size: 1.2rem;
}
th:hover {
  cursor: pointer;
}
.reactable-data tr:hover {
  background-color: rgba(1, 182, 167, 0.1);
}
.reactable-header-sort-desc:after {
  content: '\25B2';
  padding-left: 5px;
}
.reactable-header-sort-asc:after {
  content: '\25BC';
  padding-left: 5px;
}
.reactable-data td {
  padding: 12px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  color: #01b6a7;
  /*border-bottom: solid 1px #01b6a7;*/
  font-size: 1rem;
  font-weight: 300;
}
section {
  margin: 30px;
}
.reactable-column-header {
  background-color: rgba(255, 255, 255, 0.2);
}
.reactable-pagination tr td {
  text-align: center;
  padding-top: 10px;
}
.reactable-page-button, .reactable-next-page, .reactable-previous-page {
  padding: 2px 6px;
  margin: 0 4px;
  border: 2px solid #01b6a7;
  text-decoration: none;
  color: #01b6a7;
  width: 0;
}
.reactable-page-button:hover, .reactable-next-page:hover, .reactable-previous-page:hover {
  color: white;
  background-color: #01b6a7;
}
.reactable-page-button:target {
  background-color: #01b6a7;
  color: white;
}
.reactable-current-page {
  background-color: #01b6a7;
  color: white;
}
.leaderboardButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.leaderboardButtons a {
  width: 120px;
  text-align: center;
  padding: 5px 0;
  margin: 0 30px;
  border: 2px solid #01b6a7;
  font-size: 20px;
}
.leaderboardButtons a:hover {
  cursor: pointer;
  background-color: #01b6a7;
  color: white;
}
.leaderboardButtons a:active {
  background-color: #01b6a7;
  color: white;
}
.leaderboardButtons a:target {
  background-color: #01b6a7;
  color: white;
}
