/* science page */
.sciencePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.sciencePage h1 {
  color: white;
  font-size: 48px;
}

.scienceTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #008a7e;
  height: 80vh;
  transition-duration: .8s;
  padding-top: 6vh;
}

.scienceTop p {
  font-weight: 100;
  font-size: 20px;
  font-family: "Proxima-Nova", sans-serif;
  line-height: 1.5;
  color: white;
  padding-bottom: 25px;
  width: 50vw;
}

.scienceTop img {
  max-height: 25vw;
  float: right;
}

.scienceTop a {
  text-decoration: none;
  color: #F1BA03;
  opacity: 0.9;
  transition-duration: .8s;
}

.scienceTop a:hover {
  color: white;
  transition-duration: .8s;
}

.scienceTop h1 {
  padding-bottom: 25px;
}

.scienceTop:hover {
  height: 85vh;
  transition-duration: .8s;
}

.scienceBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: #F13542;
  transition-duration: .8s;
  text-align: center;
}

.scienceLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.scienceBottom:hover {
  height: 30vh;
  transition-duration: .8s;
}

.scienceBottom h1 {
  padding-top: 2vh;
  padding-bottom: 15px;
}

.scienceBottom p {
  color: white;
  padding: 0 10px;
}

.scienceBottom a {
  text-decoration: none;
  color: white;
  transition-duration: .5s;
}

.scienceBottom a:hover {
  color: #7CD9D2;
  transition-duration: .5s;
}


@media (max-height: 768px) {
  #root {
    width: 100%;
  }

  .sciencePage {
    height: 100%;
  }

  .scienceTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 20vh;
    padding-top: 10vh;
  }

  .scienceTop h1 {
    width: 80%;
  }

  .scienceTop:hover {
    height: auto;
  }

  .scienceBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .scienceBottom:hover {
    height: auto;
  }
}

@media (max-width: 960px) {
  .scienceTop p {
    width: 80vw;
  }

  .scienceTop img {
    display: none;
  }
}