div {
  display: block;
}

body {
  /*max-width: 790px;*/
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color:#7CD9D2;
}
#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 10rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
}
h3 {
  font-size: 1.3rem;
  font-weight: 100;
}
#title {
 /* padding: 2rem 0;*/
}

.heading > h3 {
  color: #7CD9D2;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(69, 69, 69, 0.9);
  z-index: 2;
}
.overlay center {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
}
#login center {
  margin-top: 20vh;
}
#login form * {
  margin: 2vh 0;
}
#login input {
  border: none;
  background-color: inherit;
  border-bottom: 1px solid white;
  padding: 1rem 0;
  width: 20rem;
  font-size: 1.5rem;
  color: white;
}
#login input:focus {
  outline: none;
}
#login button {
  border: none;
  background-color: #DDDDDD;
  padding: 1rem;
  width: 20rem;
  font-size: 1.5rem;
}
#login button:hover {
  background-color: #BBBBBB;
}
#login button:active {
  background-color: #AAAAAA;
  outline: none;
}
#login button:focus {
  outline: none;
}
#login .back {
  margin-top: 7rem;
}
.btn {
  text-decoration: none;
  font-size: 5rem;
  color: white;
  margin: 3rem auto;
}
.btn:hover {
  text-decoration: none;
  color: #EEEEEE;
}

.heading {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
  background-color: white; /* #01161e /*
  /*background-image: url('../images/connect.png');*/
  color: #01B6A7; /* #01B6A7 */
  flex-direction: column;
}
.menu {
  display: flex;
  justify-content: center;
  height: 70vh;
}
.menu-panel {
  width: 25vw;
  height: 100%;
  background-color: #BFBFBF;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: .8s;
}
.menu-panel:hover {
  background-color: #C4C4C4;
  transition-duration: .8s;
  width: 40vw;
}

#menu1 {
  background-color: #F13542;
}

#menu2 {
  background-color: #01B6A7;
}

#menu3 {
  background-color: #7CD9D2;
}

#menu4 {
  background-color: #F1BA03;
}

/* game page css */

.gameContainer {
  height: 90vh;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relaxContainer {
  background-color: rgba(1, 182, 167, 0.09);
}

.gameBoard {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.gameSquare {
  display: inline-block;
  background-color: #BFBFBF;
  width: 175px;
  height: 175px;
  margin: 4px;
/*  border: 3px solid #6D6E71;*/
}

.gameButtonsContainer {
  display: flex;
  justify-content: center;
  width: 95%;
  background-color: #BFBFBF;
  padding: 10px;
}
.gameButtonsContainer a {
  margin: 0 25px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: default;
}
.gameButtonsContainer a:hover {
  cursor: pointer;
}
.gameButtonsContainer a:active {
  background-color: black;
}
.timerContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  width: 50%;
}
.gameHeading {
  display: flex;
  flex-direction: row;
  width: 85%;
}

.gameContainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #01B6A7;
}

.gameContainer h2 {
  font-size: 40px;
  font-weight: normal;
}

.gameTimer {
  font-size: 64px;
}
.gameScore {
  flex-direction: row;
  justify-content: flex-start;
  color: #BFBFBF;
  font-size: 64px;
  width: 50%;
}

.scoreAlert {
  display: flex;
  height: 70px;
  width: 95%;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}

.scoreAlertNegative {
  background-color: #C11A16;
  color: white;
  font-size: 28px;
  margin: 10px auto;
  height: 70px;
  width: 100%;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}
.scoreAlertPositive {
  background-color: green;
  color: white;
  font-size: 28px;
  margin: 10px auto;
  height: 70px;
  width: 100%;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}

.classicMode {
  background-color: #F13542;
}

.relaxedMode {
  background-color: #01B6A7;
}

.silentMode {
  background-color: #7CD9D2;
}

.advancedMode {
  background-color: #F1BA03;
}

.classicScore {
  color: #F13542;
}

.relaxedScore {
  color: #01B6A7;
}

.silentScore {
  color: #7CD9D2;
}

.advancedScore {
  color: #F1BA03;
}

.fireworks {
  position: absolute;
	top: 0;
	left: 0;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

/*levels*/
#classic, #relax, #silent, #advanced{
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
}

#silent{
  color: #7CD9D2;
}

#classic{
  color: #F13542
}

#relaxed{
  color: #01B6A7;
}

#advanced{
  color: #F1BA03;
}

.levelBox{
  text-align: center;
}

.levelBox > h1 {
  font-size: 10rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}
h3 {
  font-size: 1.3rem;
  font-weight: 100;
}

#classic, #relax, #silent, #advanced{
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
}

#silent{
  color: #7CD9D2;
}

#classic{
  color: #F13542
}

#relaxed{
  color: #01B6A7;
}

#advanced{
  color: #F1BA03;
}

.grid {
  height: 55vh;
  width: 55vh;
  min-width: 400px;
  margin: 0 auto;
  align-items: left;
}

.grid a{
  display: inline-block;
}

.levelSquare, .levelSquareLast {
  display: inline-block;
  background-color: #BFBFBF;
  float: left;
}

.grid1{
  width: 99%;
  height: 99%;
  margin: .5%;
}

.grid4{
  width: 48%;
  height: 48%;
  margin: calc(4% / 4);
}

.grid9{
  width: 30%;
  height: 30%;
  margin: calc(10% / 6);
}

.levelSquare{
  background-color: #BFBFBF;
}

.levelSquareLast{
  background-color: #D6D6D6;
}
