* {
  box-sizing: border-box;
  margin: 0;
}
h1 {
  font-size: 8rem;
}
#title {
  padding-top: 5rem;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(123, 123, 123, 0.85);
}
.btn {
  text-decoration: none;
  font-size: 5rem;
}
