div {
  display: block;
}
b {
  font-weight: 400;
}

/*Our Colors*/

.classic {
  color: #F13542;
}
.relaxed {
  color: #01B6A7;
}
.silent {
  color: #7CD9D2;
}
.advanced {
  color: #F1BA03;
}
.classicBackground {
  background-color: #F13542;
}
.relaxedBackground {
  background-color: #01B6A7;
}
.silentBackground {
  background-color: #7CD9D2;
}
.advancedBackground {
  background-color: #F1BA03;
}
body {
  /*max-width: 790px;*/
  font-family: 'Proxima-Nova', sans-serif;
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #01B6A7;
  background: url("../images/pattern.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: calc(16px + 10vw);
  font-weight: 700;
}
h2 {
  font-size: calc(16px + 1.5vw);
  font-weight: 500;
}
h3 {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 5px;
}
#title {
  /* padding: 2rem 0;*/
}
.heading> img {
  width: 35vw;
  min-width: 600px;
}
.btn {
  text-decoration: none;
  font-size: 5rem;
  color: white;
  margin: 3rem auto;
}
.btn:hover {
  text-decoration: none;
  color: #EEEEEE;
}
.heading {
  display: flex;
  height: 30vh;
  justify-content: flex-end;
  align-items: center;
  /*background-color: white;*/
  color: #01B6A7;
  flex-direction: column;
}
.userHeading {
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.userWelcome {
  margin-right: 15px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 24px;
}
.menu {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 100vw;
}
.menu-panel {
  width: 25%;
  height: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: .8s;
  cursor: pointer;
}
.menu-panel:hover {
  transition-duration: .8s;
  width: 40vw;
}
.menu-panel> h3 {
  font-weight: 100;
  color: rgba(255, 255, 255, .8);
  text-align: center;
}
.fireworks {
  position: absolute;
  top: 0;
  left: 0;
  height: 30vh;
  justify-content: center;
  align-items: center;
}
.whiteLogo {
  width: 15vw;
  max-width: 150px;
  position: fixed;
  right: 15px;
  bottom: 30px;
  cursor: pointer;
  transition-duration: 1s;
}
.whiteLogo:hover {
  transition-duration: 1s;
  width: 17vw;
}
@media (max-width: 960px) {
  .whiteLogo {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .heading {
    padding-top: 75px;
  }

  .userWelcome {
    font-size: 20px;
    font-weight: 400;
  }

  .heading> img {
    width: 70vw;
    min-width: 0;
  }
  .menu {
    display: inline-block;
  }
  .menu-panel {
    display: flex;
    float: left;
    margin: 2px;
    width: calc(50vw - 4px);
    height: calc(50% - 4px);
    transition-duration: 0s;
  }
  .menu-panel:hover {
    width: calc(50vw - 4px);
    transition-duration: 0s;
  }
  .menu-panel> h2 {
    font-size: 2em;
  }
  .menu-panel> h3 {
    font-size: 1.2em;
  }
}
@media (orientation: landscape) {
  #root {
    overflow: hidden;
  }
}
.landscapeOverlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/pattern.svg");
  background-size: cover;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
