/*tutorial*/
.tutorial {
  background: rgba(0,0,0,.88);
  color: #c6c6c6;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.key-wrapper > p:nth-of-type(1){
  padding: 20px;
}

.tutorial p {
  width: 80%;
  color: #c6c6c6;
  font-weight: 300;
  margin-bottom: 2vh;
  font-size: 20px;
}

.tutorial h2 {
  width: 80%;
  text-align: left;
}

.tutorial h3 {
  font-size: 28px;
  font-weight: bold;
  width: 80%;
  text-align: left;
}

.tutorialLink {
  border-bottom: 1px dotted #c6c6c6;
  cursor: pointer;
  color: #c6c6c6;
  text-decoration: none;

  -webkit-transition: .5s;
		 -moz-transition: .5s;
			 -o-transition: .5s;
			-ms-transition: .5s;
			  	transition: .5s;
  pointer-events: auto;
}

.tutorialLink:hover {
  color: #01B6A7;
}

.row {
  text-align: center;
}

ul.row {
  padding:0;
}

.key {
  margin: 4px 4px;
  width: 100px;
  min-width: 50px;
  height: auto;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;

 	-webkit-transition: .5s;
		 -moz-transition: .5s;
			 -o-transition: .5s;
			-ms-transition: .5s;
			  	transition: .5s;
}

.active {
  border: 2px solid white;
  color: white;

  -webkit-transition: 0s;
		 -moz-transition: 0s;
			-ms-transition: 0s;
			  	transition: 0s;
}

.key-wrapper {
  text-align: center;
  margin-top: 10vh;
  justify-content: center;
}

.key-wrapper h2 {
  text-align: center;
  width: 100%;
}

.key-wrapper h3 {
  text-align: center;
}

.key-wrapper ul li {
  list-style: none;
}

.key-wrapper > ul {
  margin: 10px 0;
}

.key-wrapper p {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.rulemode, .rulemode2, .rulemode3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: baseline;
  justify-content: center;
  line-height: 1.5;
}
.rulemode2{
  margin-top: 10vh;
  text-align: left;
}
.rulemode3{
  margin-top: 10vh;
  padding: 0 10% 0 10%;
}

.rules2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  margin-bottom: 5vh;
}

.started{
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 5px;
  text-align: center;
}

.slide img{
  width: 40vh;
  margin: 0 auto;
}

.playBtn {
  margin-top: 10vh !important;
  pointer-events: auto;
  text-decoration: none;
  background-color: #c6c6c6;
  color: rgba(0,0,0,.88);
  border: 1px solid #c6c6c6;
  text-align: center;
  margin: 0 auto;
}

.playBtn:hover {
  transition-duration: .8s;
  background-color: rgba(198,198,198,.5);
}
